<header>
    <nav
    class="flex-no-wrap relative flex w-full items-center justify-between bg-zinc-50 py-2 shadow-dark-mild dark:bg-neutral-700 lg:flex-wrap lg:justify-start lg:py-4">
    <div class="flex w-full flex-wrap items-center justify-between px-3">
        <div
        class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto"
        id="navbarSupportedContent1"
        data-twe-collapse-item>
        <ul
            class="list-style-none me-auto flex flex-col ps-0 lg:flex-row"
            data-twe-navbar-nav-ref>
            <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
                <%= link_to "Artists", artists_path, class: "text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2" %>
            </li>
            <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
                <%= link_to "Albums", albums_path, class: "text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2" %>
            </li>
            <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
                <%= link_to "Songs", songs_path, class: "text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2" %>
            </li>
            <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
                <%= link_to "Song Metrics", metrics_path, class: "text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2" %>
            </li>
            <li class="mb-4 lg:mb-0 lg:pe-2">
                <% if current_user && current_user.email.present? %>
                    <h1><%= current_user.email %></h1>
                <% end %>
            </li>
            <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
                <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
            </li>
        </ul>
        </div>
    </div>
    </nav>
</header>